<div class="container-fluid mt-2">
    <div class="container">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../../assets/img/Logo Universital Tanpa Background 3149 x 130.png" alt="Logo" width="149" height="130" class="d-inline-block align-text-top">
            <u>UNIVERSITAS SEVENTH</u>
            <a>PMB - Online</a>
          </a>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#"><img src="../../assets/img/person-circle.png">Nama User</a>
            <a class="nav-link" [routerLink]="['/','login']">Logout <img src="../../assets/img/box-arrow-right.png"></a>
            <a class="nav-link" [routerLink]="['/','home']"><img src="../../assets/img/house-door-fill.png"></a>
          </div>
        </div>
      </nav>
      <hr size="10" color="black"> 
    </div> 
    <div class="container-fluid mt-2">
      <br>
      <div class="container">
          <h3><b>PROFIL SINGKAT</b></h3>
          <br>
          <h5><b>UNIVERSITAS SEVENTH</b></h5>
          <p>Kampus ini berdiri pada tahun 2022 merupakan universitas swasta dengan pilihan prodi Terakreditasi "A" Untuk memberikan kualitas pendidikan terbaik untuk terciptanya kualitas lulusan yang kreatif, cerdas dan kompetitip dibidangnya</p>
          <br>
  
          <h5><b>PENGAJAR PROFESIONAL</b></h5>
          <p>Kuslitas pengajar profesional, serta ditunjang dengan faslitas kampus yang lengkap untuk memberikan kualitas pendidikan terbaik agar mahasiswa mendapat pengalaman belajar yang mendukung untuk mendorong kesuksesan karir mereka</p>
          <br>
  
          <h5><b>PROGRAM BEASISWA</b></h5>
          <p>Universitas seventh memiliki program beasiswa bagi calon mahasiswa yang diberikan untuk lulusan SMA/Sederajat dari seluruh nusantara yang memiliki prestasi dalam bidang akademik dan non-akademik (olahraga/seni) dalam tingkat nasional atau internasional</p>
          <br>
          <br>
          <h6>Jl. leuwi panjang No.45 Kota Bandung Prov. Jawa Barat</h6>
          <br>
      </div>
  
    </div>  
  </div>

  