
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container mt-2">
    <div class="title"><b>Pendaftaran Mahasiswa Baru</b></div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nama Lengkap</span>
            <input type="text" placeholder="Enter your name" ngModel required>
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" ngModel required>
          </div>
          <div class="input-box">
            <span class="details">Alamat Email</span>
            <input type="text" placeholder="Enter your email"ngModel required>
          </div>
          <div class="input-box">
            <span class="details">No. Telepon</span>
            <input type="text" placeholder="Enter your number" ngModel required>
          </div>
          <div class="input-box">
            <span class="details">Buat Password</span>
            <input type="password" placeholder="Enter your password" id="password" ngModel required>
          </div>
          <div class="input-box">
            <span class="details">Konfirmasi Password</span>
            <input type="password" placeholder="Confirm your password" id="password" ngModel required>
          </div>
        </div>
        <!-- <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Jenis Kelamin</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Laki-laki</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Perempuan</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div> -->
        <div class="button">
          <input type="submit" value="Register" (click)="onSubmit(registrasiform.value)" [routerLink]="['/','login']">
        </div>
      </form>
    </div>
  </div>

</body>
</html>

