   
<div class="container-fluid mt-2">
  <div class="container">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../assets/img/Logo Universital Tanpa Background 3149 x 130.png" alt="Logo" width="149" height="130" class="d-inline-block align-text-top">
          <u>UNIVERSITAS SEVENTH</u>
          <a>PMB - Online</a>
        </a>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="collapse navbar-collapse sticky-top justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#"><img src="../../assets/img/person-circle.png">Nama User</a>
          <a class="nav-link" [routerLink]="['/','login']">Logout <img src="../../assets/img/box-arrow-right.png"></a>
          <a class="nav-link" [routerLink]="['/','home']"><img src="../../assets/img/house-door-fill.png"></a>
        </div>
      </div>
    </nav>
    <hr size="10" color="black"> 
  </div> 
  <div class="container-fluid mt-2">
    <br>
    <div class="container">
        <h3><b>INFORMASI PMB</b></h3>
        <br>
        <h4><b>Syarat Pendaftaran</b></h4>
        <p>1. Photo Copy Ijazah terakhir & SKHUN (terlegalisir)</p>
        <p>2. Tinggi Badan (laki-laki > 155 cm, Perempuan > 150 cm)</p>
        <p>3. Pas foto berwarna ukuran 4x6 cm terbaru (5 lembar)<p>
        <p>4. Surat Kelakuan Baik dari sekolah asal (terlegalisir)</p>
        <p>5. Umur maksimal 24 tahun  (Khusus reguler)</p>
        <p>6. Surat keterangan kerja dari instansi kesehatan (Khusus Kelas Karyawan/Ekstensi)</p>
        <p>7. Memiliki Prestasi Akademik/Non Akademik (Khusus Pendaftar Jalur prestasi Akademik dan Non Akademik)</p>
        <p>8. Uang Pendaftar Rp. 300.000 dan Tes Kesehatan Rp. 150.000</p><br>

        <h4><b>Jalur Masuk</b></h4>
        <p>1. Jalur Prestasi Akademik dan Non Akademik</p>
        <p>Waktu Januari-Maret (sesuai dengan tahun akademik) dengan syarat :</p>
        <p>a. Mengisi formulir pendaftaran jalur Prestasi Akademik dan NonAkademik</p>
        <p>b. Surat Keterangan baik dari asal sekolah</p>
        <p>c. Nilai Raport rata-rata 70/7 atau memiliki prestasi Non Akademik</p>
        <p>d. Khusus kelas reguler</p>
        <p>2. Umum</p>
        <p>Mengikuti jadwal pendaftaran/One Day Service</p><br>

        <h4><b>Jadwal Pendaftaran</b></h4>
        <p>1. Gelombang 1</p>
        <p>Januari - Maret (tahun masuk sesuai tahun akademik)</p>
        <p>Seleksi Akademik & Tes Kesehatan : Juni (tahun masuk sesuai tahun akademik)</p><br>
        <p>2. Gelombang 2</p>
        <p>April - Juni (tahun masuk sesuai tahun akademik)</p>
        <p>Seleksi Akademik & Tes Kesehatan : Juni (tahun masuk sesuai tahun akademik)</p><br>
        <p>3. Gelombang 3</p>
        <p>Juli - September (tahun masuk sesuai tahun akademik)</p>
        <p>Seleksi Akademik & Tes Kesehatan : September(tahun masuk sesuai tahun akademik)</p>
    </div>

  </div>  
</div>

