
<div class="container-fluid mt-2">
  <br>
  <h3>HUBUNGI KAMI</h3>
  <img src="../../assets/img/Logo Universital Tanpa Background 1.png" alt="Logo" width="371" height="403">
  <h5><u><b>UNIVERSITAS SEVENT'H</b></u></h5>
  <br>
  <br>
  <br>
</div>

<div class="container-fluid">
  <div class="container justify-content-start">
    <span><img src="../../assets/img/geo-alt-fill.png" alt="">
      Jl. Leuwi Panjang No. 45 Kota Bandung Prov. Jawa Barat
    </span><br>
    <br>
    <span><img src="../../assets/img/telephone-fill.png" alt="">
      Telp/WA PMB Unsev 083113049392
    </span><br>
    <br>
    <span><img src="../../assets/img/telephone-fill.png" alt="">
      Customer Service 081223997542
    </span><br>
    <br>
    <span><img src="../../assets/img/telephone-fill.png" alt="">
      Tata Usaha 085795808124
    </span>
    <br>
    <br>
    <footer class="footer-responsive">
      <hr>
      <img src="../../assets/img/c-circle-fill.svg" alt="image" width="1" height="1"> Penerimaan Mahasiswa Baru Unsev 2023
    </footer>
  </div>
</div>