
<hr size="10" color="black"> 
<div class="container-fluid mt-0">
  <br>
    <h2>Selamat Datang di</h2>
    <h2>Universitas Sevent'h</h2>
    <img src="../../assets/img/Logo Universital Tanpa Background 1.png" alt="Logo" width="371" height="403">
    <br>
    <h4>Penerimaan Mahasiswa Baru</h4>
    <h4>Silahkan Login atau</h4>
    <h4>Daftar jika belum punya akun</h4>
    <br>
    <div class="d-grid gap-5 d-md-flex justify-content-center">
      <button class="btn btn-light" type="button" [routerLink]="['/','login']"> Login </button>
      <button class="btn btn-light" type="button" [routerLink]="['/','registrasi']"> Daftar </button>
      <br>
    </div>
    <br>
    <br>
    <div class="container">
      <footer class="footer-responsive">
        <hr>
        <img src="../../assets/img/c-circle-fill.svg" alt="image" width="1" height="1"> Penerimaan Mahasiswa Baru Unsev 2023
      </footer>
    </div>
    <br>
</div>
