<div class="container-fluid mt-2">
    <div class="container">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../../assets/img/Logo Universital Tanpa Background 3149 x 130.png" alt="Logo" width="149" height="130" class="d-inline-block align-text-top">
            <u>UNIVERSITAS SEVENTH</u>
            <span>PMB - Online</span>
          </a>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <div class="navbar-nav">
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../assets/img/list-task.png" alt="">Data Peserta
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li> -->
            <a class="nav-link active" aria-current="page" href="#"><img src="../../assets/img/person-circle.png"> Nama User</a>
            <a class="nav-link" [routerLink]="['/','login']">Logout <img src="../../assets/img/box-arrow-right.png"></a>
            <a class="nav-link" [routerLink]="['/','home']"><img src="../../assets/img/house-door-fill.png"></a>
          </div>
        </div>
      </nav>
      <hr size="10" color="black">
    </div>
    
    <div class="container-fluid">
        <div class="container">
            <div class="card w-50 mb-3 justify-content-center">
                <div class="card-body text-center">
                    <h1>LUPA PASSWORD</h1>
                    <hr align=”center” color=”#ff1100″ size=”5″ width=”40%”>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/person-circle.png" alt=""></span>
                        <input type="text" class="form-control" placeholder="Masukan Username Anda" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/key-removebg-preview.png" alt=""></span>
                        <input type="password" class="form-control" placeholder="Masukan Password Baru Anda" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><img src="../../assets/img/key-removebg-preview.png" alt=""></span>
                        <input type="password" class="form-control" placeholder="Konfirmasi Password Baru Anda" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    
                    <br>
                    <button class="btn btn-light" type="submit">Kirim</button>
                    <br>
                    <hr align=”center” color=”#ff1100″ size=”5″ width=”40%”>
                    <br>
                    <a [routerLink]="['/','login']">Kembali ke login >></a>
                </div>
              </div>
        </div>
    </div>
</div>
