.container-fluid {
    background-color: #DDFAB7;
    text-align: center;
}

#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#password { background-position: 10px -53px !important }

hr {
    color: black;
}
.card {
    position:sticky;
    justify-content: center;
    background-color: transparent;
}